/* Write your code here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  font-size: 44px;
}

.profile-container {
  display: flex;
}

.button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
}

.image {
  height: 15vh;
  width: 15vh;
}

.username {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.paragraph {
  color: #171f46;
  text-align: center;
}
